.home-container {
  max-width: 1200px;
  margin: auto;
}

.home h1 {
  color: var(--dark-blue);
  display: flex;
  justify-content: center;
  font-size: 2rem !important;
  padding: 2rem 0 !important;
  margin-top: 3rem;
}

.home h2 {
  color: var(--dark-blue);
  font-size: 1.5rem !important;
  padding-top: 3rem !important;
}

.home h3 {
  color: var(--dark-blue);
  font-size: 1.3rem !important;
  padding-top: 2rem !important;
}

.home p {
  padding: 0.5rem 0 !important;
}

.home ul {
  list-style-type: disc !important;
  list-style-position: outside !important;
  padding-left: 3rem !important;
}

.home li {
  padding-left: 0.5rem;
}

.handwritten {
  font-family: Simplicity, sans-serif;
}

.link {
  color: var(--dark-blue);
  font-weight: bold;
  text-decoration: underline var(--dark-blue);
}

.home .hidden {
  display: none;
}

.sticky-sidebar-doc {
  position: sticky;
  overflow-y: scroll;
  top: calc(var(--header-height) + 1rem);
  height: calc(100vh - calc(var(--header-height) + 1rem));
  width: var(--sidebar-width);
}